CONSUL_AUTO_REGISTER=true
CONSUL_URL=http://localhost:8500
CONSUL_SERVICE_NAME=auth-service
CONSUL_SERVICE_ID=auth-service-8001
CONSUL_SERVICE_ADDRESS=host.docker.internal
CONSUL_SERVICE_PORT=8001
CONSUL_HEALTH_CHECK_URL=http://host.docker.internal:8001/health/
# CONSUL_TOKEN=
